version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Server=host.docker.internal\SQLWIKACAL;Database=PointOnSaleDb;User Id=SZDB2;Password=SZDB212345678;TrustServerCertificate=True;MultipleActiveResultSets=true
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - pos-network

  frontend:
    build:
      context: ./web/point-on-sale-web
      dockerfile: Dockerfile
    environment:
      - VITE_API_URL=/v1
    depends_on:
      - backend
    ports:
      - "80:80"
    networks:
      - pos-network

networks:
  pos-network:
    driver: bridge
